<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.BetMapper">

    <insert id="saveBet" useGeneratedKeys="true" keyProperty="betId" keyColumn="bet_id" parameterType="sysBet">
        insert into sys_bet (card, table_id, boot_num, game_num, type, game_id, game_result, create_by, create_time)
        values (#{card}, #{tableId}, #{bootNum}, #{gameNum}, #{type}, #{gameId}, #{gameResult}, #{createBy}, sysdate())
    </insert>

    <insert id="saveBetInfos">
        insert into sys_bet_info(bet_id,card,table_id,boot_num,game_num,
        type,game_id,bet_option,bet_money,game_result,win_lose,create_time,
        water,water_amount,pump,create_by)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.betId},#{item.card},#{item.tableId},#{item.bootNum},#{item.gameNum}
            ,#{item.type},#{item.gameId},#{item.betOption},#{item.betMoney},#{item.gameResult},#{item.winLose},sysdate(),
            <choose>
             <when test="item.water != null">
                 #{item.water},
             </when>
             <otherwise>
                 0,
             </otherwise>
            </choose>
            <choose>
                <when test="item.waterAmount != null">
                    #{item.waterAmount},
                </when>
                <otherwise>
                    0,
                </otherwise>
            </choose>
            <choose>
                <when test="item.pump != null">
                    #{item.pump},
                </when>
                <otherwise>
                    0,
                </otherwise>
            </choose>
             #{item.createBy})
        </foreach>
    </insert>

    <insert id="savePorint">
        insert into sys_porint ( table_id, boot_num, sys_chip, person_chip, chip_gap, chip_add, sys_insurance, person_insurance,
                                 insurance_gap,insurance_add,water,chip_win,insurance_win,create_by,create_time)
        values (#{tableId}, #{bootNum}, #{sysChip}, #{personChip}, #{chipGap}, #{chipAdd}, #{sysInsurance},#{personInsurance},
                #{insuranceGap}, #{insuranceAdd}, #{water}, #{chipWin}, #{insuranceWin},#{createBy},sysdate())
    </insert>
</mapper>
