<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.PorintMapper">

    <insert id="savePorint">
        insert into sys_porint (table_id, version, boot_num, sys_chip, person_chip, chip_gap, chip_add,
                                 sys_cash, person_cash,cash_gap,cash_add,
                                sys_insurance, person_insurance,insurance_gap,insurance_add,
                                water,chip_win,insurance_win,create_by,create_time,remark,
                                sys_chip_th, person_chip_th, chip_gap_th, chip_add_th,
                                sys_cash_th, person_cash_th,cash_gap_th,cash_add_th,
                                sys_insurance_th, person_insurance_th,insurance_gap_th,insurance_add_th,
                                water_th,chip_win_th,insurance_win_th)
        values (#{tableId}, #{version}, #{bootNum}, #{sysChip}, #{personChip}, #{chipGap}, #{chipAdd},
                #{sysCash},#{personCash},#{cashGap}, #{cashAdd},
                #{sysInsurance},#{personInsurance},#{insuranceGap}, #{insuranceAdd},
                #{water}, #{chipWin}, #{insuranceWin},#{createBy},sysdate(),#{remark},
                #{sysChipTh}, #{personChipTh}, #{chipGapTh}, #{chipAddTh},
                #{sysCashTh},#{personCashTh},#{cashGapTh}, #{cashAddTh},
                #{sysInsuranceTh},#{personInsuranceTh},#{insuranceGapTh}, #{insuranceAddTh},
                #{waterTh}, #{chipWinTh}, #{insuranceWinTh})
    </insert>

    <update id="updatePorint">
        update sys_porint
        set sys_chip      = sys_chip + #{chip},
            chip_gap      = chip_gap + #{chip},
            sys_cash      = sys_chip + #{cash},
            cash_gap      = cash_gap + #{cash},
            sys_insurance = sys_insurance + #{insurance},
            insurance_gap = insurance_gap + #{insurance},
            chip_win      = chip_win - #{cash} - #{chip},
            insurance_win = insurance_win - #{insurance},
            water         = water + #{water},
            update_time   = sysdate()
        where id = #{id}
    </update>

    <update id="updatePorintTh">
        update sys_porint
        set sys_chip_th      = sys_chip_th + #{chip},
            chip_gap_th      = chip_gap_th + #{chip},
            sys_cash_th      = sys_chip_th + #{cash},
            cash_gap_th      = cash_gap_th + #{cash},
            sys_insurance_th = sys_insurance_th + #{insurance},
            insurance_gap_th = insurance_gap_th + #{insurance},
            chip_win_th      = chip_win_th - #{cash} - #{chip},
            insurance_win_th = insurance_win_th - #{insurance},
            water_th         = water_th + #{water},
            update_time   = sysdate()
        where id = #{id}
    </update>

    <select id="selectPorintList" resultType="sysPorint">
        SELECT
        t.game_id  gameId,
        s.id,
        s.table_id tableId,
        s.boot_num bootNum,
        s.sys_chip+sys_cash sysChip,
        s.person_chip+person_cash personChip,
        s.chip_gap chipGap,
        s.chip_add chipAdd,
        s.cash_gap cashGap,
        s.cash_add cashAdd,
        s.sys_insurance sysInsurance,
        s.person_insurance personInsurance,
        s.insurance_gap insuranceGap,
        s.insurance_add insuranceAdd,
        s.water water,
        s.chip_win chipWin,
        s.insurance_win insuranceWin,
        s.create_time createTime,
        s.create_by createBy,
        s.remark,
        s.sys_chip_th+sys_cash_th sysChipTh,
        s.person_chip_th+person_cash_th personChipTh,
        s.chip_gap_th chipGapTh,
        s.chip_add_th chipAddTh,
        s.sys_cash_th sysCashTh,
        s.person_cash_th personCashTh,
        s.cash_gap_th cashGapTh,
        s.cash_add_th cashAddTh,
        s.sys_insurance_th sysInsuranceTh,
        s.person_insurance_th personInsuranceTh,
        s.insurance_gap_th insuranceGapTh,
        s.insurance_add_th insuranceAddTh,
        s.water_th waterTh,
        s.chip_win_th chipWinTh,
        s.insurance_win_th insuranceWinTh
        FROM
        sys_porint s
        left join sys_table_management t
        on s.table_id = t.table_id
        <where>
            <if test="tableId != null ">
                AND s.table_id = #{tableId}
            </if>
            <if test="startTime != null and startTime != ''">
                AND s.create_time <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND s.create_time <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY s.create_time desc
    </select>

    <select id="selectPorintCount" resultType="map">
        SELECT
        if(sum(chip_add) is null ,0 ,sum(chip_add) ) chipAddCount,
        if(sum(water) is null ,0 ,sum(water)) waterCount,
        if(sum(chip_win) is null ,0 , sum(chip_win))chipWinCount,
        if(sum(insurance_win) is null ,0 ,sum(insurance_win)) insuranceWinCount,
        if(sum(insurance_add) is null ,0 , sum(insurance_add) )insuranceAddCount,

        if(sum(chip_add_th) is null ,0 ,sum(chip_add_th) ) chipAddCountTh,
        if(sum(water_th) is null ,0 ,sum(water_th)) waterCountTh,
        if(sum(chip_win_th) is null ,0 , sum(chip_win_th))chipWinCountTh,
        if(sum(insurance_win_th) is null ,0 ,sum(insurance_win_th)) insuranceWinCountTh,
        if(sum(insurance_add_th) is null ,0 , sum(insurance_add_th) )insuranceAddCountTh
        FROM
        sys_porint
        <where>
            <if test="tableId != null and tableId != ''">
                AND table_id = #{tableId}
            </if>
            <if test="startTime != null and startTime != ''">
                AND create_time <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND create_time <![CDATA[<=]]> #{endTime}
            </if>
        </where>

    </select>

    <select id="selectPorint" resultType="sysPorint">
        SELECT
            id,
            table_id  tableId,
            boot_num bootNum,
            version,
            sys_chip sysChip,
            person_chip personChip,
            chip_gap chipGap,
            chip_add chipAdd,
            sys_cash sysCash,
            person_cash personCash,
            cash_gap cashGap,
            cash_add cashAdd,
            sys_insurance sysInsurance,
            person_insurance personInsurance,
            insurance_gap insuranceGap,
            insurance_add insuranceAdd,
            water water,
            chip_win chipWin,
            insurance_win insuranceWin,
            sys_chip_th sysChipTh,
            person_chip_th personChipTh,
            chip_gap_th chipGapTh,
            chip_add_th chipAddTh,
            sys_cash_th sysCashTh,
            person_cash_th personCashTh,
            cash_gap_th cashGapTh,
            cash_add_th cashAddTh,
            sys_insurance_th sysInsuranceTh,
            person_insurance_th personInsuranceTh,
            insurance_gap_th insuranceGapTh,
            insurance_add_th insuranceAddTh,
            water_th waterTh,
            chip_win_th chipWinTh,
            insurance_win_th insuranceWinTh,
            create_time createTime,
            create_by createBy,
            remark
        FROM
            sys_porint
        where
            id = #{id}
    </select>

    <update id="editPorint">
        update sys_porint
        set person_chip = #{personChip},
            chip_add    = #{chipAdd},
            chip_gap    = #{chipGap},
            person_cash = #{personCash},
            cash_add    = #{cashAdd},
            cash_gap    = #{cashGap},
            person_insurance = #{personInsurance},
            insurance_add    = #{insuranceAdd},
            insurance_gap    = #{insuranceGap},
            person_chip_th = #{personChipTh},
            chip_add_th = #{chipAddTh},
            chip_gap_th = #{chipGapTh},
            person_cash_th = #{personCashTh},
            cash_add_th = #{cashAddTh},
            cash_gap_th = #{cashGapTh},
            person_insurance_th = #{personInsuranceTh},
            insurance_add_th = #{insuranceAddTh},
            insurance_gap_th = #{insuranceGapTh},
            <if test="remark != null and remark != ''"> remark = #{remark}, </if>
            update_by   = #{updateBy},
            update_time = sysdate()
        where id = #{id}
    </update>

    <select id="getPorints" resultType="sysPorint">
        SELECT
            id,
            table_id  tableId,
            version,
            boot_num bootNum,
            sys_chip sysChip,
            person_chip personChip,
            chip_gap chipGap,
            chip_add chipAdd,
            sys_cash sysCash,
            person_cash personCash,
            cash_gap cashGap,
            cash_add cashAdd,
            sys_insurance sysInsurance,
            person_insurance personInsurance,
            insurance_gap insuranceGap,
            insurance_add insuranceAdd,
            water,
            chip_win chipWin,
            insurance_win insuranceWin,
            create_time createTime,
            create_by createBy,
            remark
        FROM
            sys_porint
        where
            table_id = #{tableId} and version = #{version} and boot_num > #{bootNum}
    </select>

    <insert id="savePorintUpdate">
        insert into sys_porint_update (table_id, version, boot_num, sys_chip, person_chip, chip_gap, chip_add,
                                       cash_gap, cash_add,
                                       sys_insurance, person_insurance, insurance_gap, insurance_add,
                                       water, chip_win, insurance_win, create_by, create_time, remark,
                                       sys_chip_th, person_chip_th, chip_gap_th, chip_add_th,
                                       cash_gap_th, cash_add_th,
                                       sys_insurance_th, person_insurance_th, insurance_gap_th, insurance_add_th,
                                       water_th, chip_win_th, insurance_win_th)
        values (#{tableId}, #{version}, #{bootNum}, #{sysChip}, #{personChip}, #{chipGap}, #{chipAdd},
                #{cashGap}, #{cashAdd},
                #{sysInsurance}, #{personInsurance}, #{insuranceGap}, #{insuranceAdd},
                #{water}, #{chipWin}, #{insuranceWin}, #{createBy}, sysdate(), #{remark},
                #{sysChipTh}, #{personChipTh}, #{chipGapTh}, #{chipAddTh},
                #{cashGapTh}, #{cashAddTh},
                #{sysInsuranceTh}, #{personInsuranceTh}, #{insuranceGapTh}, #{insuranceAddTh},
                #{waterTh}, #{chipWinTh}, #{insuranceWinTh})
    </insert>

    <update id="editPorints">
        update sys_porint
        set chip_add = chip_add + #{chipAdd},
        chip_gap = chip_gap + #{chipAdd},
        cash_add = cash_add + #{cashAdd},
        cash_gap = cash_gap + #{cashAdd},
        insurance_add = insurance_add + #{insuranceAdd},
        insurance_gap = insurance_gap + #{insuranceAdd},
        chip_add_th = chip_add_th + #{chipAddTh},
        chip_gap_th = chip_gap_th + #{chipAddTh},
        cash_add_th = cash_add_th + #{cashAddTh},
        cash_gap_th = cash_gap_th + #{cashAddTh},
        insurance_add_th = insurance_add_th + #{insuranceAddTh},
        insurance_gap_th = insurance_gap_th + #{insuranceAddTh}
        where id in
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectPorintUpdateList" resultType="map">
        SELECT
        id,
        table_id  tableId,
        boot_num bootNum,
        sys_chip sysChip,
        person_chip personChip,
        chip_gap chipGap,
        chip_add chipAdd,
        sys_insurance sysInsurance,
        person_insurance personInsurance,
        insurance_gap insuranceGap,
        insurance_add insuranceAdd,
        water water,
        chip_win chipWin,
        insurance_win insuranceWin,
        sys_chip_th sysChipTh,
        person_chip_th personChipTh,
        chip_gap_th chipGapTh,
        chip_add_th chipAddTh,
        sys_insurance_th sysInsuranceTh,
        person_insurance_th personInsuranceTh,
        insurance_gap_th insuranceGapTh,
        insurance_add_th insuranceAddTh,
        water_th waterTh,
        chip_win_th chipWinTh,
        insurance_win_th insuranceWinTh,
        create_time createTime,
        create_by createBy,
        remark
        FROM
        sys_porint_update
        <where>
            <if test="tableId != null">
                AND table_id = #{tableId}
            </if>
            <if test="bootNum != null">
                AND boot_num = #{bootNum}
            </if>
            <if test="startTime != null and startTime != ''">
                AND create_time <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND create_time <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY create_time desc
    </select>
</mapper>
