<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.ReceiptMapper">

    <update id="updateReceipt">
        update sys_receipt
        set chip          = chip + #{chip},
            cash          = cash + #{cash},
            insurance     = insurance + #{insurance},
            win           = win - #{cash} - #{chip},
            insurance_win = insurance_win - #{insurance},
            water         = water + #{water},
            update_time   = sysdate()
        where id = #{id}
    </update>

    <update id="updateReceiptTh">
        update sys_receipt
        set chip_th          = chip_th + #{chip},
            cash_th          = cash_th + #{cash},
            insurance_th     = insurance_th + #{insurance},
            win_th           = win_th - #{cash} - #{chip},
            insurance_win_th = insurance_win_th - #{insurance},
            water_th         = water_th + #{water},
            update_time   = sysdate()
        where id = #{id}
    </update>

    <select id="selectReceiptList" resultType="com.account.system.domain.SysReceipt">
        SELECT
        r.table_id AS tableId,
        SUM(r.chip) AS chip,
        SUM(r.cash) AS cash,
        SUM(r.insurance) AS insurance,
        SUM(r.chip_add) AS chipAdd,
        SUM(r.cash_add) AS cashAdd,
        SUM(r.insurance_add )AS insuranceAdd,
        SUM(r.water )AS water,
        SUM(r.win )AS win,
        SUM(r.insurance_win) AS insuranceWin,
        r.create_time AS createTime,
       r.remark AS remark,
        SUM(r.chip_th )AS chipTh,
        SUM(r.cash_th )AS cashTh,
        SUM(r.insurance_th )AS insuranceTh,
        SUM(r.chip_add_th )AS chipAddTh,
        SUM(r.cash_add_th )AS cashAddTh,
        SUM(r.insurance_add_th )AS insuranceAddTh,
        SUM(r.water_th )AS waterTh,
        SUM(r.win_th )AS winTh,
        SUM(r.insurance_win_th )AS insuranceWinTh
        FROM
        sys_receipt r
    <where>
        <if test="tableId != null">
            AND r.table_id = #{tableId}
        </if>
        <if test="startTime != null and startTime != ''">
            AND date_format( r.create_time ,'%Y-%m-%d')<![CDATA[>=]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND date_format( r.create_time ,'%Y-%m-%d')<![CDATA[<=]]> #{startTime}
        </if>
    </where>
        GROUP BY r.table_id
        ORDER BY r.create_time DESC
    </select>
</mapper>
