<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.ReceiptMapper">

    <update id="updateReceipt">
        update sys_receipt
        set chip          = chip + #{chip},
            cash          = cash + #{cash},
            insurance     = insurance + #{insurance},
            win           = win - #{cash} - #{chip},
            insurance_win = insurance_win - #{insurance},
            water         = water + #{water},
            update_time   = sysdate()
        where id = #{id}
    </update>

    <update id="updateReceiptTh">
        update sys_receipt
        set chip_th          = chip_th + #{chip},
            cash_th          = cash_th + #{cash},
            insurance_th     = insurance_th + #{insurance},
            win_th           = win_th - #{cash} - #{chip},
            insurance_win_th = insurance_win_th - #{insurance},
            water_th         = water_th + #{water},
            update_time   = sysdate()
        where id = #{id}
    </update>

    <select id="selectReceiptList" resultType="com.account.system.domain.SysReceipt">
        SELECT
        r.table_id as tableId,
        r.chip as chip,
        r.cash as cash,
        r.insurance as insurance,
        r.chip_add as chipAdd,
        r.cash_add as cashAdd,
        r.insurance_add as insuranceAdd,
        r.water as water,
        r.win as win,
        r.insurance_win as insuranceWin,
        r.create_time as createTime,
        r.remark as remark,
        r.chip_th as chipTh,
        r.cash_th as cashTh,
        r.insurance_th as insuranceTh,
        r.chip_add_th as chipAddTh,
        r.cash_add_th as cashAddTh,
        r.insurance_add_th as insuranceAddTh,
        r.water_th as waterTh,
        r.win_th as winTh,
        r.insurance_win_th as insuranceWinTh
        FROM
        sys_receipt r
    <where>
        <if test="tableId != null and tableId != ''">
            AND r.table_id = #{tableId}
        </if>
        <if test="startTime != null and startTime != ''">
            AND r.create_time <![CDATA[>=]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND r.create_time <![CDATA[<=]]> #{endTime}
        </if>
    </where>
        GROUP BY r.table_id
        ORDER BY r.create_time DESC
    </select>
</mapper>
