<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysWaterMapper">

    <insert id="saveMembersWater">
        insert into sys_members_water (card, water, water_amount, create_time, water_th, water_amount_th)
        values (#{card}, #{water}, #{waterAmount}, sysdate(), #{waterTh}, #{waterAmountTh}) ON DUPLICATE KEY
        UPDATE
            water = water + #{water},
            water_amount = water_amount + #{waterAmount},
            water_th = water_th + #{waterTh},
            water_amount_th = water_amount_th + #{waterAmountTh},
            update_time = sysdate()
    </insert>

    <update id="updateMembersWater">
        update sys_members_water
        <set>
        water = water - #{water},
        water_amount = water_amount - #{waterAmount},
        water_th = water_th - #{waterTh},
        water_amount_th = water_amount_th - #{waterAmountTh},
        update_time = sysdate(),
        update_by = #{updateBy}
        </set>
        where card=#{card}
    </update>

    <update id="updateMembersWaterList">
        <foreach item="item" index="index" collection="list" separator=";">
            UPDATE `sys_members_water`
            <set>
                <if test="item != null">
                    `water` = `water` - #{item.water},
                    `water_amount` = `water_amount` - #{item.waterAmount},
                    `water_th` = `water_th` - #{item.waterTh},
                    `water_amount_th` = `water_amount_th` - #{item.waterAmountTh},
                    `update_time` = sysdate(),
                    `update_by` = #{item.updateBy}
                </if>
            </set>
            WHERE `card`=#{item.card}
        </foreach>
    </update>

    <select id="selectMembersWaterInfo"  resultType="java.util.Map">

        SELECT
            m.card as card,
            m.water as water,
            m.water_amount  as waterAmount,
            m.water_th as waterTh,
            m.water_amount_th  as waterAmountTh
        FROM
            sys_members_water m
        where m.card=#{card}
    </select>

</mapper>
