<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysAccessCodeMapper">

    <resultMap type="SysAccessCode" id="SysAccessCodeResult">
    	<id     property="id"      column="id"      />
        <result property="card"    column="card"    />
        <result property="chipBalance"     column="chip_balance"     />
        <result property="cashBalance"   column="cash_balance"   />
        <result property="totalBalance"    column="total_balance"    />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"      column="update_time"      />
    </resultMap>


    <select id="selectAccessCodeList"  parameterType="SysAccessCodeSearch" resultType="com.account.system.domain.vo.SysAccessCodeVo">
    SELECT
        a.id AS id ,m.id AS userId,
        m.name AS userName,
        m.card AS card,
        IFNULL( a.cash_balance, 0 ) as cashBalance,
        IFNULL( a.chip_balance, 0 ) as chipBalance,
        IFNULL( a.total_balance, 0 ) as totalBalance,
        m.remark  as remark
    FROM
        sys_members m
        LEFT JOIN sys_access_code a ON a.card = m.card
    <where>
        <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
            AND m.is_admin = 0
        </if>
        <if test="card != null and card != ''">
            AND m.card = #{card}
        </if>
    </where>
    ORDER BY a.total_balance desc
    </select>

    <select id="selectAccessCodeTotal"  resultType="java.util.Map">
        SELECT
            SUM( IFNULL( a.cash_balance, 0 ) ) AS cashBalance,
            SUM(
                    IFNULL( a.chip_balance, 0 )) AS chipBalance,
            SUM( IFNULL( a.total_balance, 0 ) ) AS totalBalance
        FROM
            sys_members m
        LEFT JOIN sys_access_code a ON a.card = m.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
        </where>
    </select>

    <select id="selectAccessCodeInfo" parameterType="SysAccessCode" resultMap="SysAccessCodeResult">
        select a.card,a.chip_balance,a.cash_balance,a.total_balance from sys_access_code a
        <where>
            <if test="card != null and card != '' ">
               and  a.card=#{card}
            </if>
            <if test="id != null and id != '' ">
                and  a.id=#{id}
            </if>
        </where>
    </select>

    <insert id="insertAccessCode" >
        INSERT INTO sys_access_code
            (
        <if test="card != null and card != ''">card,</if>
        <if test="chipAmount != null and chipAmount != ''">chip_balance,</if>
        <if test="cashAmount != null and cashAmount != ''">cash_balance,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        total_balance,create_time,update_time )
        values(
        <if test="card != null and card != ''">#{card},</if>
        <if test="chipAmount != null and chipAmount != ''">#{chipAmount},</if>
        <if test="cashAmount != null and cashAmount != ''">#{cashAmount},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        #{totalBalance},sysdate(),sysdate()
        )
    </insert>


    <update id="updateAccessCode">
        update sys_access_code
            <set>
                <if test="mark==1">
                    <if test="chipAmount != null and chipAmount != ''">chip_balance=chip_balance+#{chipAmount},</if>
                    <if test="cashAmount != null and cashAmount != ''">cash_balance=cash_balance+#{cashAmount},</if>
                </if>
                <if test="mark==2">
                    <if test="chipAmount != null and chipAmount != ''">chip_balance=chip_balance-#{chipAmount},</if>
                    <if test="cashAmount != null and cashAmount != ''">cash_balance=cash_balance-#{cashAmount},</if>
                </if>
                <if test="updateBy != null and updateBy != ''">update_by=#{updateBy},</if>
                total_balance=chip_balance+cash_balance, update_time = sysdate()
            </set>
        where card=#{card}
    </update>



</mapper>