<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysAccessCodeMapper">

    <resultMap type="SysAccessCode" id="SysAccessCodeResult">
    	<id     property="id"      column="id"      />
        <result property="userId"    column="user_id"    />
        <result property="chipBalance"     column="chip_balance"     />
        <result property="cashBalance"   column="cash_balance"   />
        <result property="totalBalance"    column="total_balance"    />
        <result property="remark"      column="remark"      />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"      column="update_time"      />
    </resultMap>


    <select id="selectAccessCodeList"  parameterType="SysAccessCodeSearch" resultType="java.util.Map">
    SELECT
        a.id AS id ,m.id AS userId,
        m.name AS name,
        m.card AS card,
        IFNULL( a.cash_balance, 0 ) as cashBalance,
        IFNULL( a.chip_balance, 0 ) as chipBalance,
        IFNULL( a.total_balance, 0 ) as totalBalance,
        a.remark  as remark
    FROM
        sys_members m
            LEFT JOIN sys_access_code a ON a.user_id = m.id
    <where>
        <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
            AND m.is_admin = 0
        </if>
        <if test="userName != null and userName != ''">
            AND m.name like  concat('%', #{userName}, '%')
        </if>
    </where>
    ORDER BY a.total_balance desc
    </select>

    <select id="selectAccessCodeTotal"  resultType="java.util.Map">
        SELECT
            SUM( IFNULL( a.cash_balance, 0 ) ) AS cashBalance,
            SUM(
                    IFNULL( a.chip_balance, 0 )) AS chipBalance,
            SUM( IFNULL( a.total_balance, 0 ) ) AS totalBalance
        FROM
            sys_members m
                LEFT JOIN sys_access_code a ON a.user_id = m.id
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="userName != null and userName != ''">
                AND m.name like  concat('%', #{userName}, '%')
            </if>
        </where>
    </select>

    <select id="selectAccessCodeInfo" parameterType="SysAccessCode" resultMap="SysAccessCodeResult">
        select a.user_id,a.chip_balance,a.cash_balance,a.total_balance from sys_access_code a
        <where>
            <if test="userId != null and userId != '' ">
               and  a.user_id=#{userId}
            </if>
            <if test="id != null and id != '' ">
                and  a.id=#{id}
            </if>
        </where>
    </select>

    <insert id="insertAccessCode" parameterType="SysAccessCodeAddSearch" >
        INSERT INTO sys_access_code
            (
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="chipBalance != null and chipBalance != ''">chip_balance,</if>
        <if test="cashBalance != null and cashBalance != ''">cash_balance,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        total_balance,create_time,update_time )
        values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="chipBalance != null and chipBalance != ''">#{chipBalance},</if>
        <if test="cashBalance != null and cashBalance != ''">#{cashBalance},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        #{totalBalance},sysdate(),sysdate()
        )
    </insert>


    <update id="updateAccessCode" parameterType="SysAccessCodeAddSearch" >
        update sys_access_code
            <set>
                <if test="mark==1">
                    <if test="chipBalance != null and chipBalance != ''">chip_balance=chip_balance+#{chipBalance},</if>
                    <if test="cashBalance != null and cashBalance != ''">cash_balance=cash_balance+#{cashBalance},</if>
                </if>
                <if test="mark==2">
                    <if test="chipBalance != null and chipBalance != ''">chip_balance=chip_balance-#{chipBalance},</if>
                    <if test="cashBalance != null and cashBalance != ''">cash_balance=cash_balance-#{cashBalance},</if>
                </if>

                <if test="remark != null and remark != ''">remark=#{remark},</if>
                <if test="updateBy != null and updateBy != ''">update_by=#{updateBy},</if>
                total_balance=chip_balance+cash_balance, update_time = sysdate()
            </set>
        where id = #{id} and user_id=#{userId}
    </update>



</mapper>