<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysBusinessCashChipMapper">

    <resultMap type="SysBusinessCashChip" id="SysBusinessCashChipResult">
    	<id     property="id"      column="id"      />
        <result property="userId"    column="user_id"    />
        <result property="chipAmount"     column="chip_amount"     />
        <result property="remark"      column="remark"      />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"      column="update_time"      />
    </resultMap>

    <select id="selectBusinessCashChipList"   resultType="com.account.system.domain.vo.SysBusinessCashChipVo">
        SELECT
            b.id AS id,
            m.id AS userId,
            m.NAME AS userName,
            m.card AS card,
            b.chip_amount AS chipAmount,
            m.is_cash AS isCash
        FROM
            sys_members m
                LEFT JOIN sys_business_cash_chip b ON b.user_id = m.id
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
        </where>
    </select>

    <select id="selectBusinessCashChipTotal"  resultType="java.util.Map">
        SELECT
        IFNULL(SUM(b.chip_amount),0) AS chipAmount
        FROM
        sys_members m
        LEFT JOIN sys_business_cash_chip b ON b.user_id = m.id
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
        </where>
    </select>

    <select id="selectBusinessCashChipInfo" parameterType="SysBusinessCashChip" resultMap="SysBusinessCashChipResult">
        SELECT
        b.user_id ,b.chip_amount,b.remark
        FROM
        sys_business_cash_chip b
        <where>
            <if test="userId != null and userId != '' ">
                and  b.user_id=#{userId}
            </if>
            <if test="id != null and id != '' ">
                and  b.id=#{id}
            </if>
        </where>
    </select>

    <insert id="insert" >
        INSERT INTO sys_business_cash_chip
        (
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="chipAmount != null and chipAmount != ''">chip_amount,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time,update_time )
        values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="chipAmount != null and chipAmount != ''">#{chipAmount},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate(),sysdate()
        )
    </insert>


    <update id="update" >
        update sys_business_cash_chip
        <set>
            <if test="mark==5">
                <if test="chipAmount != null and chipAmount != ''">chip_amount=chip_amount+#{chipAmount},</if>
            </if>
            <if test="mark==6">
                <if test="chipAmount != null and chipAmount != ''">chip_amount=chip_amount-#{chipAmount},</if>
            </if>
            <if test="remark != null and remark != ''">remark=#{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id} and user_id=#{userId}
    </update>
</mapper>