<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysChipRecordMapper">

    <insert id="addChipRecord">

        INSERT INTO sys_chip_record
        (
        <if test="card != null and card != ''">card,</if>
        <if test="type != null and type != ''">type,</if>
        <if test="before != null">`before`,</if>
        <if test="change != null"> `change`,</if>
        <if test="after != null ">`after`,</if>
        <if test="beforeTh != null">before_th,</if>
        <if test="changeTh != null">change_th,</if>
        <if test="afterTh != null ">after_th,</if>
        <if test="betId != null and betId != ''">bet_id,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time )
        values(
        <if test="card != null and card != ''">#{card},</if>
        <if test="type != null and type != ''">#{type},</if>
        <if test="before != null ">#{before},</if>
        <if test="change != null">#{change},</if>
        <if test="after != null ">#{after},</if>
        <if test="beforeTh != null ">#{beforeTh},</if>
        <if test="changeTh != null ">#{changeTh},</if>
        <if test="afterTh != null ">#{afterTh},</if>
        <if test="betId != null and betId != ''">#{betId},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>


    <insert id="addChipRecordList">
        <foreach item="item" index="index" collection="list" separator=";">

            INSERT INTO sys_chip_record
            (
            <if test="item.card != null and item.card != ''">card,</if>
            <if test="item.type != null and item.type != ''">type,</if>
            <if test="item.before != null">`before`,</if>
            <if test="item.change != null"> `change`,</if>
            <if test="item.after != null ">`after`,</if>
            <if test="item.beforeTh != null">before_th,</if>
            <if test="item.changeTh != null">change_th,</if>
            <if test="item.afterTh != null ">after_th,</if>
            <if test="item.remark != null and item.remark != ''">remark,</if>
            <if test="item.createBy != null and item.createBy != ''">create_by,</if>
            create_time )
            values(
            <if test="item.card != null and item.card != ''">#{item.card},</if>
            <if test="item.type != null and item.type != ''">#{item.type},</if>
            <if test="item.before != null ">#{item.before},</if>
            <if test="item.change != null">#{item.change},</if>
            <if test="item.after != null ">#{item.after},</if>
            <if test="item.beforeTh != null ">#{item.beforeTh},</if>
            <if test="item.changeTh != null ">#{item.changeTh},</if>
            <if test="item.afterTh != null ">#{item.afterTh},</if>
            <if test="item.remark != null and item.remark != ''">#{item.remark},</if>
            <if test="item.createBy != null and item.createBy != ''">#{item.createBy},</if>
            sysdate()
            )
        </foreach>
    </insert>


    <select id="selectChipRecordList"  resultType="com.account.system.domain.vo.SysChipRecordVo">
        SELECT
        c.card,
        m.`name` AS name,
        c.type,
        c.`before` as `before`,
        c.`change` as `change`,
        c.`after` as `after`,
        c.`before_th` as beforeTh,
        c.`change_th` as changeTh,
        c.`after_th` as afterTh,
        c.create_time AS createTime,
        c.create_by AS createBy,
        c.remark as remark
        FROM
        sys_chip_record c
        LEFT JOIN sys_members m ON m.card = c.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>

            <if test="type != null and type != ''">
                AND c.type = #{type}
            </if>
            <if test="startTime != null and startTime != ''">
                AND date_format(c.create_time ,'%Y-%m-%d') <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND date_format(c.create_time ,'%Y-%m-%d') <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY c.create_time DESC
    </select>

    <select id="selectChipRecord"  resultType="SysChipRecord">
        SELECT card,
               type,
               `before`,
               `change`,
               `after`,
               bet_id betId
        FROM sys_chip_record
        where card = #{card}
          and bet_id = #{betId}
        limit 0,1
    </select>

    <update id="updateChipRecord">
        update sys_chip_record
        set `change` = #{change},
            `after` = #{after},
            `change_th` = #{changeTh},
            `after_th` = #{afterTH},
            `type` = #{type}
        where card = #{card} and bet_id = #{betId}
    </update>

    <delete id="deleteChipRecord">
        delete from sys_chip_record where card = #{card} and bet_id = #{betId}
    </delete>
</mapper>
