<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysChipRecordMapper">

    <insert id="addChipRecord">
        insert into sys_chip_record (card,type,`before`,`change`,`after`,create_by,create_time
        <if test="betId!=null">,bet_id</if>)
            values (#{card},#{type},#{before},#{change},#{after},#{createBy},sysdate()
        <if test="betId!=null">,#{betId}</if>)
    </insert>

    <select id="selectChipRecordList"  resultType="java.util.Map">
        SELECT
        c.card,
        m.`name` AS NAME,
        c.type,
        c.`before`,
        c.`change`,
        c.`after`,
        c.create_time as createTime,
        c.create_by as createBy
        FROM
        sys_chip_record c
        LEFT JOIN sys_members m ON m.card = c.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>

            <if test="type != null and type != ''">
                AND c.type = #{type}
            </if>
            <if test="startTime != null and startTime != ''">
                AND c.create_time <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND c.create_time <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY c.create_time DESC
    </select>

    <select id="selectChipRecord"  resultType="SysChipRecord">
        SELECT card,
               type,
               `before`,
               `change`,
               `after`,
               bet_id betId
        FROM sys_chip_record
        where card = #{card}
          and bet_id = #{betId}
        limit 0,1
    </select>

    <update id="updateChipRecord">
        update sys_chip_record
        set `change` = #{change},
            `after` = #{after},
            `type` = #{type}
        where card = #{card} and bet_id = #{betId}
    </update>

</mapper>
