<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysRemittanceDetailedMapper">

    <resultMap type="com.account.system.domain.SysRemittanceDetailed" id="SysRemittanceDetailedResult">
        <id property="id" column="id"/>
        <result property="card" column="card"/>
        <result property="operationType" column="operation_type"/>
        <result property="type" column="type"/>
        <result property="amount" column="amount"/>
        <result property="amountTh" column="amount_th"/>
        <result property="remark" column="remark"/>
        <result property="operationTime" column="operation_time"/>
        <result property="createBy" column="create_by"/>
    </resultMap>

    <!--resultType="com.account.system.domain.SysRemittanceDetailed"-->
    <select id="selectRemittanceDetailedList" parameterType="com.account.system.domain.search.SysRemittanceDetailedSearch"
            resultType="com.account.system.domain.vo.SysRemittanceDetailedVo">
        SELECT
        m.`name` as userName,
        m.card,
        d.type,
        d.operation_type as operationType,
        d.amount as amount,
        d.amount_th as amountThb,
        d.remark,
        d.operation_time as operationTime,
        d.create_by as createBy
        FROM
        sys_remittance_detailed d
        LEFT JOIN sys_members m ON m.card = d.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
            <if test="operationType != null ">
                AND d.operation_type = #{operationType}
            </if>
            <if test="type != null and type != ''">
                AND d.type = #{type}
            </if>
            <if test="startTime != null and startTime != ''">
                AND d.operation_time <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND d.operation_time <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY
        d.operation_time desc
    </select>

    <select id="selectRemittanceDetailedTotal" resultType="java.util.Map">
        SELECT
        IFNULL( SUM( d.amount ), 0 ) as amount,
        IFNULL( SUM( d.amount_th ), 0 ) as amountTh
        FROM
        sys_remittance_detailed d
        LEFT JOIN sys_members m ON m.card = d.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
            <if test="operationType != null and operationType != ''">
                AND d.operation_type = #{operationType}
            </if>
            <if test="type != null and type != ''">
                AND d.type = #{type}
            </if>
            <if test="startTime != null and startTime != ''">
                AND d.operation_time <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND d.operation_time <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY
        d.operation_time desc
    </select>

    <insert id="insertRemittanceDetailed">
        INSERT INTO sys_remittance_detailed
        (
        <if test="card != null and card != ''">card,</if>
        <if test="operationType != null ">operation_type,</if>
        <if test="type != null and type != ''">type,</if>
        <if test="amount != null and amount != ''">amount,</if>
        <if test="amountTh != null and amountTh != ''">amount_th,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time,operation_time )
        values(
        <if test="card != null and card != ''">#{card},</if>
        <if test="operationType != null ">#{operationType},</if>
        <if test="type != null and type != ''">#{type},</if>
        <if test="amount != null and amount != ''">#{amount},</if>
        <if test="amountTh != null and amountTh != ''">#{amountTh},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate(), sysdate()
        )
    </insert>
</mapper>