<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysRoleMapper">

    <select id="selectRoleList" parameterType="SysRole" resultType="java.util.Map">
        select role_id roleId, role_name roleName, create_time createTime, remark
        from sys_role
        order by create_time desc
    </select>

    <insert id="addRole" useGeneratedKeys="true" keyProperty="roleId" keyColumn="role_id" >
        insert into sys_role(
        <if test="roleName != null and roleName != ''">role_name,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="roleName != null and roleName != ''">#{roleName},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <select id="selectMenuPermsByUserId" parameterType="Long" resultType="String">
        select distinct m.perms
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user u on rm.role_id = u.role_id
                 left join sys_role r on r.role_id = u.role_id
        where m.status = '0'
          and u.user_id = #{userId}
    </select>

    <select id="selectMenuTreeAll" resultType="SysMenu">
        select distinct m.menu_id menuId,
                        m.parent_id parentId,
                        m.menu_name menuName,
                        m.path,
                        m.component,
                        m.`query`,
                        m.visible,
                        m.status,
                        ifnull(m.perms, '') as perms,
                        m.is_frame isFrame,
                        m.is_cache isCache,
                        m.menu_type menuType,
                        m.icon,
                        m.order_num orderNum,
                        m.create_time createTime
        from sys_menu m
        where m.menu_type in ('M', 'C')
          and m.status = 0
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuTreeByUserId" parameterType="Long" resultType="SysMenu">
        select distinct m.menu_id menuId,
                        m.parent_id parentId,
                        m.menu_name menuName,
                        m.path,
                        m.component,
                        m.`query`,
                        m.visible,
                        m.status,
                        ifnull(m.perms, '') as perms,
                        m.is_frame isFrame,
                        m.is_cache isCache,
                        m.menu_type menuType,
                        m.icon,
                        m.order_num orderNum,
                        m.create_time createTime
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user u on rm.role_id = u.role_id
                 left join sys_role ro on u.role_id = ro.role_id
        where u.user_id = #{userId}
          and m.menu_type in ('M', 'C')
          and m.status = 0
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuList" resultType="SysMenu">
        select menu_id menuId, menu_name menuName, parent_id parentId, order_num orderNum,
               path, component, `query`,
               is_frame isFrame, is_cache isCache, menu_type menuType,
               visible, status, ifnull(perms,'') as perms, icon, create_time createTime
        from sys_menu
        order by parent_id, order_num
    </select>

    <update id="editRole" parameterType="sysRole">
        update sys_role
        <set>
            <if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where role_id = #{roleId}
    </update>

    <delete id="deleteRoleMenu" parameterType="Long">
        delete from sys_role_menu where role_id=#{roleId}
    </delete>

    <insert id="addRoleMenu">
        insert into sys_role_menu(role_id, menu_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.roleId},#{item.menuId})
        </foreach>
    </insert>

    <select id="selectMenuListByRoleId" resultType="Long">
        select m.menu_id
        from sys_menu m
        left join sys_role_menu rm on m.menu_id = rm.menu_id
        where rm.role_id = #{roleId}
        order by m.parent_id, m.order_num
    </select>
</mapper>
