<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysSignedRecordDetailedMapper">

    <resultMap type="SysSignedRecordDetailed" id="SysSignedRecordDetailedResult">
    	<id     property="id"      column="id"      />
        <result property="userId"    column="user_id"    />
        <result property="type"    column="type"    />
        <result property="amountType"    column="amount_type"    />
        <result property="amountBefore"      column="amount_before"      />
        <result property="amount"      column="amount"      />
        <result property="amountAfter"    column="amount_after"    />

        <result property="amountBeforeTh"      column="amount_before_th"      />
        <result property="amountTh"      column="amount_th"      />
        <result property="amountAfterTh"    column="amount_after_th"    />
        <result property="remark"      column="remark"      />
        <result property="operationTime"      column="operation_time"      />
        <result property="createBy"      column="create_by"      />
    </resultMap>

    <select id="selectSignedRecordDetailedList" parameterType="SysSignedRecordDetailedSearch"  resultType="com.account.system.domain.vo.SysSignedRecordDetailedVo">
        SELECT
        m.card AS card,
        m.`name` AS userName,
        d.type AS type,
        d.amount_before AS amountBefore,
        d.amount AS amount,
        d.amount_after AS amountAfter,
        d.amount_before_Th AS amountBeforeTh,
        d.amount_Th AS amountTh,
        d.amount_after_Th AS amountAfterTh,
        d.amount_type AS amountType,
        d.operation_time AS operationTime,
        d.create_by AS createBy,
        d.remark AS remark
        FROM
        sys_signed_record_detailed d
        LEFT JOIN sys_members m ON m.card = d.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
            <if test="type != null and type != ''">
                AND d.type = #{type}
            </if>
            <if test="startTime != null and startTime != ''">
                AND date_format(d.operation_time,'%Y-%m-%d') <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND date_format(d.operation_time,'%Y-%m-%d') <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY d.operation_time desc
    </select>

    <insert id="insertSignedRecordDetailed" >
        INSERT INTO sys_signed_record_detailed
        (
        <if test="card != null and card != ''">card,</if>
        <if test="type != null ">type,</if>
        <if test="amountType != null and amountType != ''">amount_type,</if>
        <if test="amountBefore != null and amountBefore != ''">amount_before,</if>
        <if test="amount != null and amount != ''">amount,</if>
        <if test="amountAfter != null and amountAfter != ''">amount_after,</if>

        <if test="amountBeforeTh != null and amountBeforeTh != ''">amount_before_th,</if>
        <if test="amountTh != null and amountTh != ''">amount_th,</if>
        <if test="amountAfterTh != null and amountAfterTh != ''">amount_after_th,</if>

        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time,operation_time )
        values(
        <if test="card != null and card != ''">#{card},</if>
        <if test="type != null ">#{type},</if>
        <if test="amountType != null and amountType != ''">#{amountType},</if>
        <if test="amountBefore != null and amountBefore != ''">#{amountBefore},</if>
        <if test="amount != null and amount != ''">#{amount},</if>
        <if test="amountAfter != null and amountAfter != ''">#{amountAfter},</if>

        <if test="amountBeforeTh != null and amountBeforeTh != ''">#{amountBeforeTh},</if>
        <if test="amountTh != null and amountTh != ''">#{amountTh},</if>
        <if test="amountAfterTh != null and amountAfterTh != ''">#{amountAfterTh},</if>

        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate(), sysdate()
        )
    </insert>
</mapper>