<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysSignedRecordMapper">

    <resultMap type="SysSignedRecord" id="SysSignedRecordResult">
    	<id     property="id"      column="id"      />
        <result property="card"    column="card"    />
        <result property="signedAmount"     column="signed_amount"     />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"      column="update_time"      />
    </resultMap>
    <select id="selectSignedRecordList"   resultType="com.account.system.domain.vo.SysSignedRecordVo">
        SELECT
            m.id as id,
            m.`name` as userName,
        m.`status` as status,
            m.card as card,
            IFNULL(s.signed_amount,0) as signedAmount,
            m.remark as remark
        FROM
            sys_members m
        LEFT JOIN sys_signed_record s ON s.card = m.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
        </where>
        ORDER BY s.signed_amount desc
    </select>


    <select id="selectSignedRecordTotal"  resultType="java.util.Map">
        SELECT
        IFNULL(SUM(s.signed_amount ),0) as signed_amount
        FROM
        sys_members m
        LEFT JOIN sys_signed_record s ON s.card = m.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
        </where>
    </select>


    <select id="selectSignedRecordInfo" parameterType="SysSignedRecord" resultMap="SysSignedRecordResult">
        SELECT
        s.id,
        s.card,
        s.signed_amount
        FROM
        sys_signed_record s
        <where>
            <if test="card != null and card != '' ">
                and  s.card=#{card}
            </if>
            <if test="id != null and id != '' ">
                and  s.id=#{id}
            </if>
        </where>
    </select>

    <insert id="insertSigned">
        INSERT INTO sys_signed_record
        (
        <if test="card != null and card != ''">card,</if>
        <if test="amount != null and amount != ''">signed_amount,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time,update_time )
        values(
        <if test="card != null and card != ''">#{card},</if>
        <if test="amount != null and amount != ''">#{amount},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate(),sysdate()
        )
    </insert>


    <update id="update" >
        update sys_signed_record
        <set>
            <if test="mark==5">
                <if test="amount != null and amount != ''">signed_amount=signed_amount+#{amount},</if>
            </if>
            <if test="mark==6">
                <if test="amount != null and amount != ''">signed_amount=signed_amount-#{amount},</if>
            </if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where  card=#{card}
    </update>
</mapper>