<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysTableManagementMapper">

    <resultMap type="SysTableManagement" id="SysTableManagementResult">
        <id property="id" column="id"/>
        <id property="tableId" column="table_id"/>
        <id property="ip" column="ip"/>
        <result property="gameId" column="game_id"/>
        <result property="gameName" column="game_name"/>
        <result property="chipPointBase" column="chip_point_base"/>
        <result property="cashPointBase" column="cash_point_base"/>
        <result property="insurancePointBase" column="insurance_point_base"/>
        <result property="chipPointBaseTh" column="chip_point_base_th"/>
        <result property="cashPointBaseTh" column="cash_point_base_th"/>
        <result property="insurancePointBaseTh" column="insurance_point_base_th"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="selectTableVo">
        select id,
               ip,
               table_id,
               game_id,
               game_name,
               chip_point_base,
               cash_point_base,
               insurance_point_base,
               chip_point_base_th,
               cash_point_base_th,
               insurance_point_base_th,
               create_by,
               create_time,
               update_by,
               update_time
        from sys_table_management
    </sql>

    <select id="selectTableList" parameterType="SysTableManagement" resultMap="SysTableManagementResult">
        <include refid="selectTableVo"/>
        <where>
            <if test="gameId != null and gameId != ''">
                AND game_id =#{gameId}
            </if>
            and is_delete=0
        </where>
        ORDER BY create_time desc
    </select>
    <select id="selectTableTotal"  resultType="java.util.Map">
        SELECT
        IFNULL(SUM(chip_point_base),0) as chipPointBase,
        IFNULL(SUM(cash_point_base),0)as cashPointBase,
        IFNULL(SUM(insurance_point_base),0)as insurancePointBase,
        IFNULL(SUM(chip_point_base_th),0) as chipPointBaseTh,
        IFNULL(SUM(cash_point_base_th),0)as cashPointBaseTh,
        IFNULL(SUM(insurance_point_base_th),0)as insurancePointBaseTh
        FROM
        sys_table_management
        <where>
            <if test="gameId != null and gameId != ''">
                AND game_id =#{gameId}
            </if>
            and is_delete=0
        </where>
    </select>


    <select id="selectTableIdInfo" parameterType="SysTableManagement"  resultType="java.util.Map">
        SELECT
            t.table_id as tableId
        FROM
            sys_table_management t
        where  t.is_delete=0
        <if test="gameId != null and gameId != ''">
            AND t.game_id =#{gameId}
        </if>
        ORDER BY  t.table_id asc
    </select>


    <insert id="insertTable">
        INSERT INTO `sys_table_management`
        (
        <if test="ip != null and ip != ''">ip,</if>
        <if test="tableId != null and tableId != 0">table_id,</if>
        <if test="gameId != null and gameId != 0">game_id,</if>
        <if test="gameName != null and gameName != ''">game_name,</if>
        <if test="chipPointBase != null and chipPointBase != ''">chip_point_base,</if>
        <if test="cashPointBase != null and cashPointBase != ''">cash_point_base,</if>
        <if test="insurancePointBase != null and insurancePointBase != ''">insurance_point_base,</if>
        <if test="chipPointBaseTh != null and chipPointBaseTh != ''">chip_point_base_th,</if>
        <if test="cashPointBaseTh != null and cashPointBaseTh != ''">cash_point_base_th,</if>
        <if test="insurancePointBaseTh != null and insurancePointBaseTh != ''">insurance_point_base_th,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time,update_time)
        values(
        <if test="ip != null and ip != ''">#{ip},</if>
        <if test="tableId != null and tableId != 0">#{tableId},</if>
        <if test="gameId != null and gameId != ''">#{gameId},</if>
        <if test="gameName != null and gameName != ''">#{gameName},</if>
        <if test="chipPointBase != null and chipPointBase != ''">#{chipPointBase},</if>
        <if test="cashPointBase != null and cashPointBase != ''">#{cashPointBase},</if>
        <if test="insurancePointBase != null and insurancePointBase != ''">#{insurancePointBase},</if>

        <if test="chipPointBaseTh != null and chipPointBaseTh != ''">#{chipPointBaseTh},</if>
        <if test="cashPointBaseTh != null and cashPointBaseTh != ''">#{cashPointBaseTh},</if>
        <if test="insurancePointBaseTh != null and insurancePointBaseTh != ''">#{insurancePointBaseTh},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate(),sysdate()
        )
    </insert>


    <update id="updateTable">
        update sys_table_management
        <set>
            <if test="ip != null and ip != ''">ip = #{ip},</if>
            <if test="tableId != null and tableId != 0">table_id = #{tableId},</if>
            <if test="gameId != null and gameId != 0">game_id = #{gameId},</if>
            <if test="gameName != null and gameName != ''">game_name = #{gameName},</if>
            <if test="chipPointBase != null and chipPointBase != ''">chip_point_base = #{chipPointBase},</if>
            <if test="cashPointBase != null and cashPointBase != ''">cash_point_base = #{cashPointBase},</if>
            <if test="insurancePointBase != null and insurancePointBase != ''">insurance_point_base =#{insurancePointBase}, </if>

            <if test="chipPointBaseTh != null and chipPointBaseTh != ''">chip_point_base_th = #{chipPointBaseTh},</if>
            <if test="cashPointBaseTh != null and cashPointBaseTh != ''">cash_point_base_th = #{cashPointBaseTh},</if>
            <if test="insurancePointBaseTh != null and insurancePointBaseTh != ''">insurance_point_base_th =#{insurancePointBaseTh}, </if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteUserByIds" parameterType="Long">
        update sys_table_management
        set is_delete=1
        where id = #{id}
    </delete>


    <select id="selectTableInfo" resultMap="SysTableManagementResult">
        <include refid="selectTableVo"/>
        <where>
            <if test="ip != null and ip != '' ">
                and ip= #{ip}
            </if>
            <if test="tableId != null and tableId != '' ">
                and table_id= #{tableId}
            </if>
            <if test="id != null and id != '' and id >0">
                AND id !=#{id}
            </if>
        </where>
        and is_delete=0
    </select>

    <update id="addTableMoney">
        update sys_table_management
        <set>
            <if test="chip!=null">
                chip = chip + #{chip},
            </if>
            <if test="cash!=null">
                cash = cash + #{cash},
            </if>
            <if test="insurance!=null">
                insurance = insurance + #{insurance},
            </if>
            <if test="chipTh!=null">
                chip_th = chip_th + #{chipTh},
            </if>
            <if test="cashTh!=null">
                cash_th = cash_th + #{cashTh},
            </if>
            <if test="insuranceTh!=null">
                insurance_th = insurance_th + #{insuranceTh},
            </if>
            <if test="bootNum!=null">
                boot_num = boot_num + #{bootNum},
                game_num=0,
            </if>
            <if test="chipAdd!=null">
                chip_add = chip_add + #{chipAdd},
            </if>
            <if test="cashAdd!=null">
                cash_add = cash_add + #{cashAdd},
            </if>
            <if test="insuranceAdd!=null">
                insurance_add = insurance_add + #{insuranceAdd},
            </if>
            <if test="chipAddTh!=null">
                chip_add_th = chip_add_th + #{chipAddTh},
            </if>
            <if test="cashAddTh!=null">
                cash_add_th = cash_add_th + #{cashAddTh},
            </if>
            <if test="insuranceAddTh!=null">
                insurance_add_th = insurance_add_th + #{insuranceAddTh},
            </if>
        </set>
        where table_id = #{tableId} and is_delete = 0
    </update>

    <update id="resetTableMoney">
        update sys_table_management
        set chip_add= 0,
            cash_add = 0,
            insurance_add= 0,
            chip=0,
            cash=0,
            insurance=0,
            chip_add_th= 0,
            cash_add_th = 0,
            insurance_add_th= 0,
            chip_th=0,
            cash_th=0,
            insurance_th=0,
            game_num=0,
            boot_num = 1,
            version = version + 1
        where id = #{id}
    </update>

    <select id="getTableByIp" resultType="sysTableManagement">
        select id,
            table_id tableId,
            game_id gameId,
            chip_point_base chipPointBase,
            cash_point_base cashPointBase,
            insurance_point_base insurancePointBase,
            boot_num bootNum,
            game_num gameNum,
            chip,
            cash,
            insurance,
            chip_add chipAdd,
            cash_add cashAdd,
            insurance_add insuranceAdd,
            version,
            chip_point_base_th chipPointBaseTh,
            cash_point_base_th cashPointBaseTh,
            insurance_point_base_th insurancePointBaseTh,
            chip_th chipTh,
            cash_th cashTh,
            insurance_th insuranceTh,
            chip_add_th chipAddTh,
            cash_add_th cashAddTh,
            insurance_add_th insuranceAddTh
        from sys_table_management
        where ip = #{ip}
        <if test="gameId!=null">and game_id = #{gameId}</if>
        and is_delete = 0 limit 0,1
    </select>
</mapper>
