<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysWaterDetailedMapper">

    <select id="selectWaterDetailedList" parameterType="SysAccessCodeDetailedSearch"  resultType="com.account.system.domain.vo.SysWaterDetailedVo">
        SELECT
        m.card AS card,
        m.`name` AS name,
        w.operation_type AS operationType,
        w.water AS water,
        w.water_amount AS waterAmount,
        w.actual_water_amount AS actualWaterAmount,

        w.water_th AS waterTh,
        w.water_amount_th AS waterAmountTh,
        w.actual_water_amount_th AS actualWaterAmountTh,

        w.deadline AS deadline,
        w.create_time AS createTime,
        w.remark as remark,
        w.create_by AS createBy
        FROM
        sys_water_detailed w
        LEFT JOIN sys_members m ON m.card = w.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="cardType == null or cardType == '' or cardType == 0 ">
                <if test="card != null and card != ''">
                    AND m.card = #{card}
                </if>
            </if>

            <if test="cardType != null and cardType != '' and cardType > 0 ">
                AND (m.card = #{card} or m.parent_card = #{card})
            </if>

            <if test="startTime != null and startTime != ''">

                AND date_format( w.create_time,'%Y-%m-%d')<![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND date_format( w.create_time,'%Y-%m-%d') <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY
        w.create_time desc
    </select>

    <select id="selectWaterDetailedTotal" resultType="java.util.Map">
        SELECT
        IFNULL( SUM( w.water ), 0 ) AS sumWater,
        IFNULL( SUM( w.water_amount ), 0 ) AS sumWaterAmount,
        IFNULL( SUM( w.actual_water_amount ), 0 ) AS actualWaterAmount,
        IFNULL( SUM( w.water_th ), 0 ) AS sumWaterTh,
        IFNULL( SUM( w.water_amount_th ), 0 ) AS sumWaterAmountTh ,
        IFNULL( SUM( w.actual_water_amount_th ), 0 ) AS actualWaterAmountTh
        FROM
        sys_water_detailed w
        LEFT JOIN sys_members m ON m.card = w.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>

            <if test="cardType == null or cardType == '' or cardType == 0 ">
                <if test="card != null and card != ''">
                    AND m.card = #{card}
                </if>
            </if>

            <if test="cardType != null and cardType != '' and cardType > 0 ">
                AND (m.card = #{card} or m.parent_card = #{card})
            </if>
            <if test="startTime != null and startTime != ''">
                AND date_format( w.create_time,'%Y-%m-%d')<![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND date_format( w.create_time,'%Y-%m-%d') <![CDATA[<=]]> #{endTime}
            </if>
        </where>
    </select>


    <insert id="insertWaterDetailed" >
        INSERT INTO sys_water_detailed
        (
        <if test="card != null and card != ''">card,</if>
        <if test="operationType != null ">operation_type,</if>
        <if test="water != null and water != ''">water,</if>
        <if test="waterAmount != null and waterAmount != ''">water_amount,</if>
        <if test="actualWaterAmount != null and actualWaterAmount != ''">actual_water_amount,</if>

        <if test="waterTh != null and waterTh != ''">water_th,</if>
        <if test="waterAmountTh != null and waterAmountTh != ''">water_amount_th,</if>
        <if test="actualWaterAmountTh != null and actualWaterAmountTh != ''">actual_water_amount_th,</if>

        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time,deadline )
        values(
        <if test="card != null and card != ''">#{card},</if>
        <if test="operationType != null ">#{operationType},</if>
        <if test="water != null and water != ''">#{water},</if>
        <if test="waterAmount != null and waterAmount != ''">#{waterAmount},</if>
        <if test="actualWaterAmount != null and actualWaterAmount != ''">#{actualWaterAmount},</if>

        <if test="waterTh != null and waterTh != ''">#{waterTh},</if>
        <if test="waterAmountTh != null and waterAmountTh != ''">#{waterAmountTh},</if>
        <if test="actualWaterAmountTh != null and actualWaterAmountTh != ''">#{actualWaterAmountTh},</if>


        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate(), sysdate()
        )
    </insert>


    <insert id="insertWaterDetailedList" >
        <foreach item="item" index="index" collection="list" separator=";">
        INSERT INTO sys_water_detailed
        (
        <if test="item.card != null and item.card != ''">card,</if>
        <if test="item.operationType != null ">operation_type,</if>
        <if test="item.water != null and item.water != ''">water,</if>
        <if test="item.waterAmount != null and item.waterAmount != ''">water_amount,</if>
        <if test="item.actualWaterAmount != null and item.actualWaterAmount != ''">actual_water_amount,</if>

            <if test="item.waterTh != null and item.waterTh != ''">water_th,</if>
            <if test="item.waterAmountTh != null and item.waterAmountTh != ''">water_amount_th,</if>
            <if test="item.actualWaterAmountTh != null and item.actualWaterAmountTh != ''">actual_water_amount_th,</if>

        <if test="item.remark != null and item.remark != ''">remark,</if>
        <if test="item.createBy != null and item.createBy != ''">create_by,</if>
        create_time,deadline )
        values
            (
            <if test="item.card != null and item.card != ''">#{item.card},</if>
            <if test="item.operationType != null ">#{item.operationType},</if>
            <if test="item.water != null and item.water != ''">#{item.water},</if>
            <if test="item.waterAmount != null and item.waterAmount != ''">#{item.waterAmount},</if>
            <if test="item.actualWaterAmount != null and item.actualWaterAmount != ''">#{item.actualWaterAmount},</if>

            <if test="item.waterTh != null and item.waterTh != ''">#{item.waterTh},</if>
            <if test="item.waterAmountTh != null and item.waterAmountTh != ''">#{item.waterAmountTh},</if>
            <if test="item.actualWaterAmountTh != null and item.actualWaterAmountTh != ''">#{item.actualWaterAmountTh},</if>

            <if test="item.remark != null and item.remark != ''">#{item.remark},</if>
            <if test="item.createBy != null and item.createBy != ''">#{item.createBy},</if>
            sysdate(), sysdate()
            )
        </foreach>
    </insert>
</mapper>
