<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.system.mapper.SysMembersMapper">


    <select id="selectMembersList" parameterType="SysMembersSearch" resultType="java.util.Map">
        select id,card,name, phone,status,card_type cardType,is_admin isAdmin,sex,create_by createBy,
        create_time createTime,remark
        from sys_members
        where card in (
            select card from
            sys_members
            <where>
                <if test="card != null and card != ''">
                    AND card = #{card}
                </if>
                <if test="name != null and name != ''">
                    AND name = #{name}
                </if>
                <if test="phone != null and phone != ''">
                    AND phone= #{phone}
                </if>
                <if test="status != null and status != ''">
                    AND status = #{status}
                </if>
                <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                    and date_format(create_time,'%y%m%d %H%i%s') &gt;= date_format(#{beginTime},'%y%m%d %H%i%s')
                </if>
                <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                    and date_format(create_time,'%y%m%d %H%i%s') &lt;= date_format(#{endTime},'%y%m%d %H%i%s')
                </if>
            </where>
        )
        <if test="isChild == 1 ">or parent_card in (
            select card from
            sys_members
            <where>
                <if test="card != null and card != ''">
                    AND card = #{card}
                </if>
                <if test="name != null and name != ''">
                    AND name = #{name}
                </if>
                <if test="phone != null and phone != ''">
                    AND phone= #{phone}
                </if>
                <if test="status != null and status != ''">
                    AND status = #{status}
                </if>
                <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                    and date_format(create_time,'%y%m%d %H%i%s') &gt;= date_format(#{beginTime},'%y%m%d %H%i%s')
                </if>
                <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                    and date_format(create_time,'%y%m%d %H%i%s') &lt;= date_format(#{endTime},'%y%m%d %H%i%s')
                </if>
            </where>
            )
        </if>
    </select>

    <select id="selectMembersCount" resultType="map">
        select sum(IF(card_type=0,1,0)) parentCount,
                sum(IF(card_type=1,1,0)) childCount,
                sum(deposit) depositCount,
                sum(repair) repairCount
        from sys_members
        where card in (
            select card from
            sys_members
            <where>
                <if test="card != null and card != ''">
                    AND card = #{card}
                </if>
                <if test="name != null and name != ''">
                    AND name = #{name}
                </if>
                <if test="phone != null and phone != ''">
                    AND phone= #{phone}
                </if>
                <if test="status != null and status != ''">
                    AND status = #{status}
                </if>
                <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                    and date_format(create_time,'%y%m%d %H%i%s') &gt;= date_format(#{beginTime},'%y%m%d %H%i%s')
                </if>
                <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                    and date_format(create_time,'%y%m%d %H%i%s') &lt;= date_format(#{endTime},'%y%m%d %H%i%s')
                </if>
            </where>
        )
        <if test="isChild == 1 ">or parent_card in (
            select card from
            sys_members
            <where>
                <if test="card != null and card != ''">
                    AND card = #{card}
                </if>
                <if test="name != null and name != ''">
                    AND name = #{name}
                </if>
                <if test="phone != null and phone != ''">
                    AND phone= #{phone}
                </if>
                <if test="status != null and status != ''">
                    AND status = #{status}
                </if>
                <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                    and date_format(create_time,'%y%m%d %H%i%s') &gt;= date_format(#{beginTime},'%y%m%d %H%i%s')
                </if>
                <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                    and date_format(create_time,'%y%m%d %H%i%s') &lt;= date_format(#{endTime},'%y%m%d %H%i%s')
                </if>
            </where>
            )
        </if>
    </select>

    <insert id="addMembers">
        insert into sys_members (
        <if test="parentCard != null and parentCard != '' ">parent_card,</if>
        <if test="card != null and card != '' ">card,</if>
        <if test="name != null and name != '' ">name,</if>
        <if test="phone != null and phone != '' ">phone,</if>
        <if test="status != null ">status,</if>
        <if test="cardType != null ">card_type,</if>
        <if test="isAdmin != null ">is_admin,</if>
        <if test="sex != null ">sex,</if>
        <if test="createBy != null ">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="deposit != null ">deposit,</if>
        <if test="repair != null ">repair,</if>
        <if test="shareRatio != null ">share_ratio,</if>
        <if test="rebateRatio != null ">rebate_ratio,</if>
        <if test="isPump != null ">is_pump,</if>
        <if test="isCash != null ">is_cash,</if>
        <if test="isSettlement != null ">is_settlement,</if>
        <if test="isOut != null ">is_out,</if>
        <if test="isBill != null ">is_bill,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="baccaratRollingRatioChip != null ">baccarat_rolling_ratio_chip,</if>
        <if test="baccaratRollingRatioCash != null ">baccarat_rolling_ratio_cash,</if>
        <if test="dragonTigerRatioChip != null ">dragon_tiger_ratio_chip,</if>
        <if test="dragonTigerRatioCash != null ">dragon_tiger_ratio_cash,</if>
        create_time
        )values(
        <if test="parentCard != null and parentCard != '' ">#{parentCard},</if>
        <if test="card != null and card != '' ">#{card},</if>
        <if test="name != null and name != '' ">#{name},</if>
        <if test="phone != null and phone != '' ">#{phone},</if>
        <if test="status != null ">#{status},</if>
        <if test="cardType != null">#{cardType},</if>
        <if test="isAdmin != null ">#{isAdmin},</if>
        <if test="sex != null ">#{sex},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="deposit != null ">#{deposit},</if>
        <if test="repair != null ">#{repair},</if>
        <if test="shareRatio != null ">#{shareRatio},</if>
        <if test="rebateRatio != null ">#{rebateRatio},</if>
        <if test="isPump != null ">#{isPump},</if>
        <if test="isCash != null ">#{isCash},</if>
        <if test="isSettlement != null ">#{isSettlement},</if>
        <if test="isOut != null ">#{isOut},</if>
        <if test="isBill != null ">#{isBill},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="baccaratRollingRatioChip != null ">#{baccaratRollingRatioChip},</if>
        <if test="baccaratRollingRatioCash != null ">#{baccaratRollingRatioCash},</if>
        <if test="dragonTigerRatioChip != null ">#{dragonTigerRatioChip},</if>
        <if test="dragonTigerRatioCash != null ">#{dragonTigerRatioCash},</if>
        sysdate()
        )
    </insert>

    <select id="selectMembersInfo" resultType="java.util.Map">
        select deposit,
               repair,
               share_ratio                 shareRatio,
               rebate_ratio                rebateRatio,
               is_pump                     isPump,
               is_cash                     isCash,
               is_settlement               isSettlement,
               is_out                      isOut,
               baccarat_rolling_ratio_chip baccaratRollingRatioChip,
               baccarat_rolling_ratio_cash baccaratRollingRatioCash,
               dragon_tiger_ratio_chip     dragonTigerRatioChip,
               dragon_tiger_ratio_cash     dragonTigerRatioCash,
               chip as                     chip
        from sys_members
        where id = #{id}
    </select>

    <update id="editMembers">
        update sys_members
        <set>
            <if test="parentCard != null and parentCard != '' ">parent_card = #{parentCard},</if>
            <if test="card != null and card != '' ">card = #{card},</if>
            <if test="name != null and name != '' ">name = #{name},</if>
            <if test="phone != null and phone != '' ">phone = #{phone},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="cardType != null ">card_type = #{cardType},</if>
            <if test="isAdmin != null ">is_admin = #{isAdmin},</if>
            <if test="sex != null ">sex = #{sex},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="deposit != null ">deposit = #{deposit},</if>
            <if test="repair != null ">repair = #{repair},</if>
            <if test="shareRatio != null ">share_ratio = #{shareRatio},</if>
            <if test="rebateRatio != null ">rebate_ratio = #{rebateRatio},</if>
            <if test="isPump != null ">is_pump = #{isPump},</if>
            <if test="isCash != null ">is_cash = #{isCash},</if>
            <if test="isSettlement != null ">is_settlement = #{isSettlement},</if>
            <if test="isOut != null ">is_out = #{isOut},</if>
            <if test="baccaratRollingRatioChip != null ">baccarat_rolling_ratio_chip = #{baccaratRollingRatioChip},</if>
            <if test="baccaratRollingRatioCash != null ">baccarat_rolling_ratio_cash = #{baccaratRollingRatioCash},</if>
            <if test="dragonTigerRatioChip != null ">dragon_tiger_ratio_chip = #{dragonTigerRatioChip},</if>
            <if test="dragonTigerRatioCash != null ">dragon_tiger_ratio_cash = #{dragonTigerRatioCash},</if>
            update_time = sysdate(),
            update_by = #{updateBy}
        </set>
        where id = #{id}
    </update>

    <delete id="deleteMembers">
        delete from sys_members
        where id in
        <foreach collection="ids.split(',')" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateChipAmount">
        update sys_members
        <set>
            <if test="type==1">
                <if test="chipAmount != null and chipAmount != '' ">chip =chip + #{chipAmount}</if>
            </if>
            <if test="type==0">
                <if test="chipAmount != null and chipAmount != '' ">chip =chip - #{chipAmount}</if>
            </if>
        </set>
        where card = #{card}
    </update>

    <select id="selectmembersByCard" resultType="SysMembers">
        select id,card,name, phone,status,card_type cardType,is_admin isAdmin,sex,create_by createBy,
        create_time createTime,remark,chip,	is_cash as isCash,	is_out as isOut,is_settlement as isSettlement
        from sys_members
        where card = #{card}
    </select>

    <!--买码换现 、汇款-->
    <select id="selectBusinessCashChipList" resultType="java.util.Map">
        SELECT
        m.id AS userId,
        m.NAME AS userName,
        m.card AS card,
        m.chip AS chipAmount,
        m.is_cash AS isCash,
        m.is_out as isOut,
        m.remark,
        IFNULL(s.signed_amount,0) as signedAmount
        FROM
        sys_members m
        LEFT JOIN sys_signed_record s on s.card=m.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
        </where>
        ORDER BY  m.chip desc
    </select>
    <!--买码换现总计-->
    <select id="selectBusinessCashChipTotal" resultType="java.util.Map">
        SELECT
        IFNULL(SUM(m.chip),0) AS chipAmount
        FROM
        sys_members m
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
        </where>
    </select>

    <!--洗码费结算-->
    <select id="selectWaterList" resultType="com.account.system.domain.vo.SysMaterVo">
        SELECT
            m.card as card,
            m.`name` AS NAME,
            m.is_settlement AS isSettlement,
            IFNULL( w.water, 0 ) AS water,
            IFNULL( w.water_amount, 0 ) AS waterAmount,
            m.remark  as remark,
        IFNULL(	r.signed_amount , 0 )as signedAmount,
        m.`status` as  status
        FROM
            sys_members m
                LEFT JOIN sys_members_water w ON w.card = m.card
                 LEFT JOIN sys_signed_record r on r.card= m.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
            <if test="cardType != null and cardType != ''">
                or m.parent_card = #{card}
            </if>

        </where>
        ORDER BY w.water desc
    </select>


    <!--洗码费结算总计-->
    <select id="selectWaterTotal" resultType="java.util.Map">
        SELECT
        IFNULL(SUM(w.water),0) AS water,
        IFNULL(SUM(w.water_amount),0) AS waterAmount
        FROM
        sys_members m
        LEFT JOIN sys_members_water w ON w.card = m.card
        <where>
            <if test="isAdmin != null and isAdmin != '' and isAdmin > 0">
                AND m.is_admin = 0
            </if>
            <if test="card != null and card != ''">
                AND m.card = #{card}
            </if>
            <if test="cardType != null and cardType != '' and cardType > 0 ">
                or m.parent_card = #{card}
            </if>
        </where>
    </select>


</mapper>
